# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Archivos de compilación
bin/
obj/
[Bb]uild/
[Ll]og/
*.log

# Paquetes NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Archivos temporales
*.tmp
*.temp
*.bak
*.cache

# Archivos de usuario
*.userprefs

# Archivos de configuración local
*.local.json

# Otros
TestResults/
*.dbmdl
*.pdb
*.mdb
*.opendb
*.VC.db
*.vshost.*
_ReSharper*/
*.DotSettings.user
